resource_group: sherlock-rg
location: eastus
storage_account: sherlockstor
app: sherlocktesting
git_repo_uri: https://github.com/tstringer/sherlock.git
azure_client_id: ...
azure_client_secret: ...
azure_subscription_id: ...
azure_tenant_id: ...
